<div id="navBar">
    <ul id="navSelection">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contactMe">Contact Me</a></li>
    </ul>
</div>