<!DOCTYPE html>
<html>
    <head>
        <title>James Rudd - WebDesigner</title>
        <link rel="stylesheet" href="./stylesheets/style.css"
        {{!-- JQuery CDN --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        {{> navBar}}
        {{{body}}}
    </body>
</html>