<!DOCTYPE html>
<html>

<head>
    <title>James Rudd - WebDesigner</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Chivo|Lexend+Deca&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{!-- JQuery CDN --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    {{> navBar}}
    {{{body}}}
    {{> footer}}
</body>

</html>