<div class="container">
    <h1 id="myName">James Rudd - Web Designer</h1>
    <div id="quoteBox">
        <p id="quote"></p>
        <p id="quoteAuthor"></p>
    </div>
</div>

<script src="./javascripts/index.js"></script>