body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Navbar Styles */
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navBar a {
  text-decoration: none;
  color: rgb(73, 76, 82);
}

#navSelection {
  list-style: none;
  margin-right: 10px;
}
#navSelection li {
  color: blue;
  padding: 5px 10px;
  float: left;
  border-bottom: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: 0.2s;
}

#navSelection li:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

/* Body Styles */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 300%;
}

.container p {
  font-family: "cabin condensed", sans-serif;
  font-size: 200%;
}

#quoteBox {
  opacity: 0;
  transition: 1s;
}

#showOff {
  background-color: green;
  margin: auto;
  width: 500px;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  #showOff {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #showOff {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #showOff {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #showOff {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #showOff {
    width: 1100px;
  }
}
